<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="/css/node.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body class="bg-light">
    <a href="/node/<%- starting_id %> ">
        <h3>Back to the beginning</h3>
    </a>
    <div id="story-card" class="card">
        <div class="card-body">
            <h1><%- story %> </h1>
        </div>
    </div>
    
    <div id="action-container" class="list-group">
        <% if(actions && actions.length > 0) {%>
            <a disabled class="list-group-item">Please select an action:</a>
        <% } %> 
        <% actions.forEach(element => { %>
        <a class="list-group-item list-group-item-action" href="/node/<%- element._id %>"><%- element.action %></a>
        <% }) %>
    </div>
    <% if(user == undefined) { %>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">To post please sign in</h3>
                <div class="card-text" id="social-signin" class="row">
                    <a id="google-signin" class="btn btn-outline-dark" href="/auth/google">
                        <img src="/assets/btn_google_dark_normal_ios.svg"/>
                        Login with Google
                    </a>
                </div>
            </div>
        </div>
        
        
    <% } else if(user.added_node) {%>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Already created a node, thank you for your addition</h4>
                <a class="card-text" href="/auth/google/logout">
                    <h6>Not <%- user.username %>, Logout</h6>
                </a>
            </div>
        </div>

    <% } else {%>
    <form action="/node/<%- node_id %>/new" id="diverge_form" method="POST" class="">
        <div id="action-input" class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label class="input-group-text" for="action">Enter a story action:</label>

            </div>
            <input class="form-control" type="text" id="action" name="action" required minlength="4" maxlength="50"
                aria-colcount="70" />
        </div>

        <div class="input-group">
            <textarea id="story-input" class="form-control" placeholder="Enter Your Part Of The Story Here..." rows="6"
                cols="70" form="diverge_form" name="story" required minlength="50" maxlength="300"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Diverge</button>
    </form>
    <a href="/auth/google/logout">
        <h6>Not <%- user.username %>, Logout</h6>
    </a>
    
    <% } %>
    <br>
    <%- include('./partials/footer.ejs') %> 
</body>

</html>