<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="/css/node.css">
</head>

<body class="bg-light">
    <div class="card">
        <div class="card-body">
            <h1><%- story %> </h1>
        </div>
    </div>
    
    <div id="action-container" class="list-group">
        <% if(actions && actions.length > 0) {%>
            <a disabled class="list-group-item">Please select an action:</a>
        <% } %> 
        <% actions.forEach(element => { %>
        <a class="list-group-item list-group-item-action" href="/node/<%- element._id %>"><%- element.action %></a>
        <% }) %>
    </div>
    <% if(user == undefined) { %>
        <h3>To post please sign in</h3>
        <div id="social-signin" class="row">
            <a id="google-signin" class="btn btn-outline-dark" href="/auth/google">
                <img src="/assets/btn_google_dark_normal_ios.svg"/>
                Login with Google
            </a>
        </div>
    <% } else if(user.added_node) {%>
        <h4>Already created a node, thank you for your addition</h4>
        <a href="/auth/google/logout">
            <h6>Not <%- user.username %>, Logout</h6>
        </a>
    <% } else {%>
    <form action="/node/<%- node_id %>/new" id="diverge_form" method="POST" class="">
        <div id="action-input" class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label class="input-group-text" for="action">Enter a story action:</label>

            </div>
            <input class="form-control" type="text" id="action" name="action" required minlength="4" maxlength="50"
                aria-colcount="70" />
        </div>

        <div class="input-group">
            <textarea id="story-input" class="form-control" placeholder="Enter Your Part Of The Story Here..." rows="6"
                cols="70" form="diverge_form" name="story" required minlength="50" maxlength="300"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Diverge</button>
    </form>
    <a href="/auth/google/logout">
        <h6>Not <%- user.username %>, Logout</h6>
    </a>
    
    <% } %>

</body>

</html>