<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="/css/node.css">
</head>

<body class="bg-light">
    <h1><%- story %> </h1>
    <div id="action-container" class="list-group">
        <% actions.forEach(element => { %>
        <a class="list-group-item list-group-item-action" href="/node/<%- element._id %>"><%- element.action %></a>
        <% }) %>
    </div>

    <form action="/node/<%- node_id %>/new" id="diverge_form" method="POST" class="">
        <div id="action-input" class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label class="input-group-text" for="action">Enter the action:</label>

            </div>
            <input class="form-control" type="text" id="action" name="action" required minlength="4" maxlength="50"
                aria-colcount="70" />
        </div>

        <div class="input-group">
            <textarea id="story-input" class="form-control" placeholder="Enter Your Part Of The Story Here..." rows="6"
                cols="70" form="diverge_form" name="story" required minlength="50" maxlength="300"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Diverge</button>
    </form>


</body>

</html>